@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

.App {
  font-family: 'Actor', sans-serif;
  font-weight: 500;
}

.App-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 30px 30px 0 30px;
  width: 90vw;
  height: 90vh;
  font-size: calc(10px + 2vmin);
  background: rgba(135, 206, 235, 0.2);
  border: 2px dashed #005477;
  border-radius: 24px;
}

p {
  color: #005477;
}
.App-link {
  color: #61dafb;
}

#image-list {
  max-height: 35rem;
}

#image-list > * {
  flex-wrap: wrap;
  font-size: 1ch
}

#image-list > * > img {
  width: 10rem;
  height: auto;
}

#currentImage {
  width: auto;
  height: 10rem;
}
/* 
.zoom-btn {
  margin: .3rem;
  padding: 2px;
  cursor: pointer;
  transition: .3s;
}

.zoom-btn:hover {
  background-color: #005477;
  color: #ffffff;
  border-radius: 5px;
  transition: .3s;
} */
